@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
.kakao_message{
    font-family: 'SUITE-Regular';
    height: 80px; 
    background-color: #f1f3f5;
    border-radius: 50px;
    margin-top: 10px;
    color: #121212;
    font-size: 20px;
    text-align: center;
}